<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>


    

<div style="display: flex; justify-content: flex-end; margin-right: 1rem; margin-bottom: 1rem;">
<button class="p-button-sm" (click)="showAddProductDialog()" pButton pRipple type="button" label="Product Add"
    icon="pi pi-plus"></button>
</div>



    <div class="card">
        <p-table *ngIf="productList.length > 0; else noDataTemplate" #dt1 responsiveLayout="stack" [value]="productList"
            [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50]" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="id">
                        <div class="header-with-sort-filter">
                            Id
                            <p-sortIcon field="id"></p-sortIcon>
                        </div>
                    </th>
                    <th pResizableColumn pSortableColumn="title">
                        <div class="header-with-sort-filter">
                            Title
                            <div style="margin-left: 1rem; display: inline-flex; flex-direction: row;">
                            <p-sortIcon field="title"></p-sortIcon>
                            <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                        </div>
                        </div>
                    </th>
                    <th pResizableColumn pSortableColumn="category">
                        <div class="header-with-sort-filter">
                            Category
                            <div  style="margin-left: 1rem;display: inline-flex; flex-direction: row;">
                            <p-sortIcon field="category"></p-sortIcon>
                            <p-columnFilter type="text" field="category" display="menu"></p-columnFilter>
                        </div>
                        </div>
                    </th>
                    <th pResizableColumn pSortableColumn="price">
                        <div class="header-with-sort-filter">
                            Price
                            <div  style="margin-left: 1rem; display: inline-flex; flex-direction: row;">
                            <p-sortIcon field="price"></p-sortIcon>
                            <p-columnFilter type="text" field="price" display="menu"></p-columnFilter>
                        </div>
                        </div>
                    </th>
                    <th pResizableColumn pSortableColumn="description">
                        <div class="header-with-sort-filter">
                            Description
                            <div  style="margin-left: 1rem; display: inline-flex; flex-direction: row;">
                            <p-sortIcon field="description"></p-sortIcon>
                            <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                       </div> 
                    </div>
                    </th>
                    <th>Image</th>
                    <th pResizableColumn pSortableColumn="rating">
                        <div class="header-with-sort-filter">
                            Rating
                            <p-sortIcon field="rating"></p-sortIcon>
                        </div>
                    </th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-columns="columns">
                <tr>
                    <td><span class="p-column-title">Id</span>{{product.id}}</td>
                    <td><span class="p-column-title">Title</span>{{product.title}}</td>
                    <td><span class="p-column-title">Category</span>{{product.category}}</td>
                    <td><span class="p-column-title">Price</span>{{product.price | currency:'USD'}} </td>
                    <td><span class="p-column-title">Description</span>{{product.description}}</td>
                    <td><span class="p-column-title">Image</span>
                        <img [alt]="product?.image" [src]="product?.image" width="40px" style="vertical-align: middle"
                            (click)="showImageDialog(product)" />
                    </td>
                    <td><span class="p-column-title">Rating</span><p-rating [ngModel]="product.rating" [readonly]="true"
                            [cancel]="false"></p-rating></td>
                    <td class=""><span class="p-column-title">Actions</span>
                        <div>
                            <p-button (click)="show(product)" icon="pi pi-pencil"></p-button>
                            <p-button (click)="deleteProduct(product)" icon="pi pi-trash"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
      
    </div>
    <p-dialog [(visible)]="displayImageDialog" [resizable]="false" [draggable]="false" [modal]="true" [closable]="true"
        [style]="{width: 'auto'}" header="{{'Product Image: ' + selectedProductModel?.title}}">
        <img [src]="selectedProductModel?.image" alt="Product Image" style="width: 100%; max-width: 400px;" />
    </p-dialog>


<ng-template #emptyData></ng-template>
<ng-template #noDataTemplate>
    <div style="text-align: center; padding: 2rem;">
        <p class="no-data-message">Could not found data</p>
    </div>
</ng-template>