<div>
    <form [formGroup]="profileForm" style="display: flex; flex-direction: column;">
      
      <div class="p-field p-col-12 p-md-6">
        <label for="category">Category</label>
        <span class="p-float-label">
          <input type="text" id="category" pInputText formControlName="category" />
        </span>
      </div>
  
      <div class="p-field p-col-12">
        <label for="description">Description</label>
        <span class="p-float-label">
          <textarea id="description" rows="3" pInputTextarea formControlName="description"></textarea>
        </span>
      </div>
  
  
      <div class="p-field p-col-12 p-md-6">
        <label>Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <div *ngIf="previewImage">
          <img [src]="previewImage" alt="Preview" style="width: 150px; height: auto;" />
        </div>
      </div>

      

      
      <div class="p-field p-col-12 p-md-6">
        <label for="price">Price</label>
        <span class="p-float-label">
          <input type="text" id="price" pInputText formControlName="price" />
        </span>
      </div>
  
      <div class="p-field p-col-12 p-md-6">
        <label for="title">Title</label>
        <span class="p-float-label">
          <input type="text" id="title" pInputText formControlName="title" />
        </span>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="rating">Rating</label>
        <p-rating formControlName="rating" [cancel]="false" [stars]="5"></p-rating>
      </div>
    
  
    </form>
  
    <div class="buttons">
      <button pButton type="button" label="Save" class="p-button-outlined p-button-secondary" (click)="save()"></button> &nbsp;
      <button pButton type="button" label="Cancel" class="p-button-outlined p-button-secondary" (click)="cancel()"></button>
    </div>
</div>
