.p-field {
    margin-bottom: 2rem;
  }
  
  .p-float-label input, .p-float-label textarea {
    width: 100%;
  }
  
  .p-float-label label {
    font-size: 0.8rem;
    color: #555;
  }
  
  label {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: bold;
  }
  

  #description{
    max-width: 100%;
    max-height: 10rem;
  }

  .buttons{
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }


  