.p-field {
    margin-bottom: 1rem;
  }
  
  .p-float-label input, .p-float-label textarea {
    width: 100%;
  }
  
  .p-float-label label {
    font-size: 0.8rem;
    color: #555;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  