<div class="col-12">
  <form [formGroup]="profileForm" style="display: flex; flex-direction: row; ">
  

    <div class="col-6   pe-lg-3">

      <div class="p-field p-col-12 p-md-6">
        <label for="category">Category:</label>
        <p-dropdown 
          [options]="categoryOptions" 
          formControlName="category" 
          placeholder="Select a Category">
        </p-dropdown>
        <small *ngIf="profileForm.get('category')?.invalid && profileForm.get('category')?.touched" class="p-error">
          Category is required.
        </small>
      </div>


      <div class="p-field p-col-12">
        <label for="description">Description:</label>
        <span class="p-float-label">
          <textarea id="description" rows="5" pInputTextarea formControlName="description"></textarea>
        </span>
        <small *ngIf="profileForm.get('description')?.invalid && profileForm.get('description')?.touched" class="p-error">
          Description is required and must not exceed 500 characters. Only alphanumeric characters and basic punctuation are allowed.
        </small>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <label>Upload Image:</label>
        <p-fileUpload 
          name="myfile[]" 
          [customUpload]="true" 
          (uploadHandler)="onUpload($event)" 
          chooseLabel="Select Image" 
          mode="basic"
          accept="image/*">
        </p-fileUpload>
        <small *ngIf="profileForm.get('image')?.invalid && profileForm.get('image')?.touched" class="p-error">
          Image is required.
        </small>

        <div *ngIf="previewImage">
          <img [src]="previewImage" alt="Preview" style="width: 150px; height: auto;" />
        </div>
      </div>
    </div>
    

    <div class="col-6 ps-lg-3">

      <div class="p-field p-col-12 p-md-6">
        <label for="price">Price:</label>
        <span class="p-float-label">
          <input type="text" id="price" pInputText formControlName="price" />
        </span>
        <small *ngIf="profileForm.get('price')?.invalid && profileForm.get('price')?.touched" class="p-error">
          Price is required, must be a number, and cannot exceed 10 digits.
        </small>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <label for="title">Title:</label>
        <span class="p-float-label">
          <input type="text" id="title" pInputText formControlName="title" />
        </span>
        <small *ngIf="profileForm.get('title')?.invalid && profileForm.get('title')?.touched" class="p-error">
          Title is required and must not exceed 30 characters. Only alphanumeric characters are allowed.
        </small>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <label for="rating">Rating:</label>
        <p-rating formControlName="rating" [cancel]="false" [stars]="5"></p-rating>
        <small *ngIf="profileForm.get('rating')?.invalid && profileForm.get('rating')?.touched" class="p-error">
          Rating is required and must be between 0 and 5.
        </small>
      </div>
    </div>
  </form>



  <div class="buttons" style="margin-top: 1rem;">
   
  <button pButton type="button" label="Cancel" icon="pi pi-check" class="p-button-secondary" style="margin-right: 0.5rem" (click)="cancel()"></button>
  <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
  </div>
</div>