/* Temel Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4;
}

@media screen and (max-width: 768px){
  .btn-div{
    overflow-x: scroll;
  }
}

nav {
  background-color: #ffffff; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border: 1px solid #d7d1d1;
  padding: 5px 20px; 
  margin-bottom: 15px;
  border-radius: 10px;
}

nav .container {
  width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
}

nav ul li {
  display: inline-block;
  margin: 0 20px; 
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  color: #000000; 
  text-decoration: none;
  padding: 5px 10px; 
  font-size: 1rem; 
  font-weight: 500; 
  transition: all 0.3s ease; 
}

nav ul li a:hover {
  background-color: #ffffff; 
  color: #000000;
  border-radius: 10px;
}

.logo {
  height: 40px; 
  display: flex;
  justify-content: flex-start;
  margin-left: 1rem; 
}

.list {
  margin-left: 1rem; 
}
